*{
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color:blue;
}
.home{
    display: flex;
    flex-wrap: wrap;
}
.in-flex{
    flex: 1;
    min-width: 260px;
}
.in-flex:first-child{
    flex: 2;
    padding: 25px;
    background: white;
    margin: 20px;
    margin-bottom: 0px;
}
.in-flex div{
    padding: 25px;
    background: darkgreen;
    margin: 20px;
}